<!DOCTYPE html>
<html>
<head>
  <title>Capcast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="Page">
  <h1>NC CapCast</h1>

  <%= yield %>

</div>

<div id="Footer">
  <p>Copyright NC CapCast 2015</p>
</div>

</body>
</html>
